.contactContainer {
    padding: 40px 20px; /* Reduced horizontal padding */
    background-color: #333; /* Grey background */
    color: #fff; /* White text */
    max-width: 600px; /* Smaller width for the form */
    margin: 80px auto 40px auto; /* Added top margin for space from the navbar */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .label {
    font-size: 1em;
    font-weight: bold;
    color: #fff;
  }
  
  .input,
  .textarea {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #444;
    width: 100%;
    box-sizing: border-box; /* Ensures padding doesn't affect the element's width */
  }
  
  .input:focus,
  .textarea:focus {
    border-color: var(--accent-color);
    outline: none;
  }
  
  .textarea {
    resize: vertical;
    min-height: 150px;
  }
  
  .submitButton {
    background-color: var(--accent-color);
    color: #fff;
    padding: 12px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: var(--accent-color-dark);
  }
  
  .submitButton:disabled {
    background-color: #bbb;
    cursor: not-allowed;
  }
  